<!DOCTYPE html>
<html>

<head>
  <script defer src='interface.js'></script>
  <script src="../src/note.js"></script>
  <script src="../src/notebook.js"></script>
</head>

<body>
  <div id="main-body">
  <h1>Welcome To Your Notebook!</h1>
  <h2>Create a new note below:</h2>
  <textarea id="textbox" cols="30" rows="10" placeholder="Start typing..."></textarea>
  <button id="create-button">Create Note</button>
  <h2>View Your Exising Notes:</h2>
  <div id="notes"> </div>
</div>

  <div id='full-note-text'> </div>

</body>

</html>






<!-- var entries = []
function addEntry(note) {
   note = document.getElementById("textbox").value;
   entries.push(note);
   console.log(entries)
 }

function megaEntries() {
 var txt = "";
 entries.forEach(viewEntries);
 document.getElementById("demo").innerHTML = txt;

 function viewEntries(value, index, array) {
   txt = txt + value + "<br>";
 }
} -->
