<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <h1>Welcome To Your Notebook!</h1>
  <h2>Create a new note below:</h2>
  <input type='text' id="textbox" placeholder="Start typing...">
  <input type='button' onclick="addEntry()" value ='Create Note'>
  <input type='button' onclick="viewEntries()" value ='View Notes'>
 <h2>View Your Exising Notes:</h2>
 <h3 id="demo"> </h3>

 

 <script>
  var entries = ["note", "note_2", "note_3"]
 function addEntry(note) {
    note = document.getElementById("textbox").value;
    entries.push(note);
    console.log(entries)
  }

  var txt = "";
  entries.forEach(viewEntries);
  document.getElementById("demo").innerHTML = txt;

  function viewEntries(value, index, array) {
    txt = txt + value + "<br>"; 
  }


</script>



 <script type="text/javascript" src="../src/note.js"></script>
 <script type="text/javascript" src="../src/notebook.js"></script>
</body>

</html>

</body>

</html>
